@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 1.125rem;
  background: linear-gradient(to right, rgba(0, 86, 184, 0.57), rgba(255, 217, 0, 0.57));
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стчі будуть застосовуватись до 
всіх класів що містять *__container
наприклад header__container, main__container и т.д.
Сніппет (HTML): cnt
*/
[class*=__container] {
  max-width: 100rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgb(255, 217, 0);
  transition: background-color linear 0.2s;
}
.button:hover {
  background-color: rgba(255, 217, 0, 0.699);
}

.input {
  width: 100%;
  padding-top: 0.625rem;
  padding-right: 1.25rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  border-radius: 0.3125rem;
  background-color: rgb(212, 211, 211);
}

.title {
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
}

.result {
  display: block;
  font-size: 2.125rem;
  margin-top: 1.25rem;
  color: blue;
}

.main {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}
.main__title {
  margin-bottom: 3.125rem;
  font-size: 2.625rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.main__homeworks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  justify-content: center;
}

.homework {
  flex: 1 1 45%;
  padding: 0.625rem;
  box-shadow: 5px 5px 15px 0px rgba(150, 150, 150, 0.28);
}

.tile-homework {
  flex: 0 1 100%;
}

.transform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.transform__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.transform__subtitle {
  font-size: 1.25rem;
}
.transform__input {
  max-width: 3.75rem;
  padding: 0.5rem 0.3125rem;
}

.clicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clicker__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clicker__buttons {
  display: flex;
  gap: 3.125rem;
}
.clicker__button-plus, .clicker__button-minus {
  min-width: 5.625rem;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tile__body {
  width: 37.75rem;
  height: 37.75rem;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}
.tile__square {
  width: 3.75rem;
  height: 3.75rem;
}
.tile__end {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1.5rem;
  color: blue;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.modal__title {
  margin-bottom: 0;
}
.modal__content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.clock {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.25rem;
}
.clock__body {
  padding: 0.625rem 0.3125rem;
  background-color: #f7f6e8;
  border-radius: 0.3125rem;
}
.clock__suptitle {
  font-size: 0.625rem;
}
.clock__time {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  font-size: 7.125rem;
  font-weight: 700;
}
.clock__footer {
  display: flex;
  justify-content: end;
  gap: 0.1875rem;
  font-size: 0.625rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease 0s;
}
.popup__body {
  padding: 1.875rem 1.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.875rem 2.5rem;
  background-color: #95dcee;
  border-radius: 0.625rem;
  opacity: 0;
  transition: all 0.6s ease 0s;
  transform: translate(0px, -100%);
}
.popup__text {
  font-size: 1.5rem;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */